html, body {
  height: 100%;
  background-color: #010409;
}

.App {
  text-align: left;
  background-color: #010409;
  height: 100%;
}

.content {
  color: rgba(229,231,235);
}

.header {
  background-color: #161b22;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(229,231,235);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border: #161b22 1px solid;
}

.header:hover {
  color: white;
}

.Question {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(41, 41, 41, 0.2) 0px 12px 48px 0px;
  background-color: #262626;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
